<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Novo Pedido</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            * {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-align: justify;
            }
        </style>
    </head>
    <body>
        <h1>Novo Pedido Cadastrado | ID: <span th:text="${idPedido}"></span></h1>
        <hr>
        <ul>
            <li>
                Data do Pedido: <span th:text="${dataPedido}"></span>
            </li>

            <li>
                Data de Envio prevista: <span th:text="${dataEnvio}"></span>
            </li>

            <li>
                Data de Entrega prevista: <span th:text="${dataEntrega}"></span>
            </li>

            <li>
                ID do Cliente: <span th:text="${idCliente}"></span>
            </li>

            <li>
                Nome do Cliente: <span th:text="${clienteNome}"></span>
            </li>

            <li>
                Endereço de Entrega: <span th:text="${endereco}"></span>
            </li>
            
            <li>
                Lista de IDs dos Itens pedidos: <span th:text="${listaDeItems}"></span>
            </li>
        </ul>
    </body>
</html>