<html>
<head>
    <style>
        li {
            list-style: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <ul>
        <li data-th-text="ID do Pedido: ${idPedido}"></li>
        <li data-th-text="Data do Pedido: ${dataPedido}"></li>
        <li data-th-text="Data de Entrega: ${dataEntrega}"></li>
        <li data-th-text="Data de Envio: ${dataEnvio}"></li>
        <li data-th-text="ID do Cliente: ${idCliente}"></li>
        <li data-th-text="Nome do Cliente: ${nomeCliente}"></li>
        <li data-th-text="Lista de Items: ${listaDeItems}"></li>
        <li data-th-text="Status do Pedido: ${status}"></li>
    </ul>
</body>
</html>